In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('play.csv')
data.head()

    Outlook Temperature Humidity  Windy Play
0     Rainy         Hot     High  False   No
1     Rainy         Hot     High   True   No
2  Overcast         Hot     High  False  Yes
3     Sunny        Mild     High  False  Yes
4     Sunny        Cool   Normal  False  Yes